@font-face{
font-family: "Shabnam";
src: url("../font-shabnam/Shabnam-FD.woff2") format("woff2");
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color:#FAFAFA;
 font-family: "Shabnam";
}
.container{
    max-width: 1216px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
}
.section-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-head-right{
display: flex;
align-items: center;
gap: 6px;
}
.section-head-icon{
    width: 18px;
    height:18px;
}
button{
    color: #1976D2;
    background-color:#E3F2FD ;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
     font-family: "Shabnam";
}