@font-face{
font-family: "Shabnam";
src: url("../font-shabnam/Shabnam-FD.woff2") format("woff2");
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color:#FAFAFA;
 font-family: "Shabnam";
}
.container{
    max-width: 1216px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
}
.section-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-head-right{
display: flex;
align-items: center;
gap: 6px;
}
.section-head-icon{
    width: 18px;
    height:18px;
}
button{
    color: #1976D2;
    background-color:#E3F2FD ;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
     font-family: "Shabnam";
}
.row{
    margin-top: 20px;
    display: flex;
    gap:15px;
}
.box-1{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 padding: 25px;
 border-radius: 5px;
}
.image{
    display: inline-block;
    height: 200px;
    width: 100%;
}
a{
    text-decoration: none;
    color: #455A64;
}
.off{
    margin-top: 20px;
    font-size: 14px;
}
.percent{
    display: inline-block;
    color: #1976D2;
    background-color: #B3E5FC;
    border-radius: 5px;
    padding: 2px 4px; 
    font-weight: bold;
}
.old-price{
    color:#90A4AE;
    text-decoration: line-through;
    margin-right: 5px;
}
 .range{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.star{
    display: flex;
    align-items: center;
}
.star-icon{
width: 15px;
height: 15px;
margin-right: 10px;
}
.star-range{
width: 15px;
height: 15px;
font-size: 14px;
  color: #455A64;
}
.box-1{
    box-shadow: 5px 2px 2px red;
    text-shadow: 0 0 1px peru;
}
 hello world 